<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Welcome to the Finance Tracker
</h4>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>